.ant-checkbox-wrapper {
    border-top: none;
    border-left: none;
    border-right: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: black;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #baba7c;
    border-color: #baba7c;
}

.ant-checkbox-checked {
    background-color: #baba7c;
    border-color: #baba7c;
}

.ant-checkbox-inner {
    width: 18px;
    height: 18px;
    border: 2px solid #baba7c;
    border-radius: 3px;
}

.ant-checkbox-checked::after {
    border: 2px solid #baba7c;
}

.ant-checkbox-checked .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
    border: 2px solid #baba7c;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0px;
}

.ant-checkbox-checked::after {
    border-radius: 3px;
}

.ant-checkbox {
    border-radius: 3px;
}

.ant-radio-inner::before {
    background-color: #baba7c;
}

.ant-radio-inner::after {
    background-color: #baba7c;
}

html {
    --antd-wave-shadow-color: #baba7c;
}

::selection {
    background: #baba7c;
}

.ant-radio-checked::after {
    border: 1px solid #baba7c;
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
    border-color: #baba7c;
}

.ant-radio-group .ant-radio-group-outline {
    display: flex;
}

.ant-radio {
    transform: translateY(-3px) !important;
}
