.movable {
    width: 40px;
    height: 40px;
    background: gold;
    position: absolute;
    z-index: 999999999;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    transition: background 0.5s;
}

.movable.active {
    background: red;
}

.movable.active:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movable.cursor-pointer:after {
    content: '!';
}

.movable.cursor-right:after {
    content: '>';
}

.movable.cursor-left:after {
    content: '<';
}
