body {
    background-color: white;
    color: black;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@font-face {
    font-family: 'Roboto-Light';
    src: local('Roboto-Light'),
        url(./fonts/Roboto-Light.woff) format('opentype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url(./fonts/Roboto-Bold.woff) format('opentype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: local('Roboto-Medium'),
        url(./fonts/Roboto-Medium.woff) format('opentype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: local('Roboto-Thin'), url(./fonts/Roboto-Thin.woff) format('opentype');
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
